captum==0.8.0
csc-mlops==0.10.1
flake8==7.1.1
opencv-python==4.10.0.84
optuna==4.2.1
pytorch-lightning==2.5.0
timm==1.0.15
torch==2.6.0
torchmetrics==1.6.1
torchvision==0.21.0
xnat==0.8.0
yapf==0.43.0