[server]
MLFLOW_S3_ENDPOINT_URL = http://localhost:8002
MLFLOW_TRACKING_URI = http://localhost:85
ARTIFACT_PATH = s3://mlflow

[project]
NAME = example_segmentation_project
;VOLUME_MOUNT = <data_path>:/DATA

[system]
USE_GPU = false
CUDA_VISIBLE_DEVICES = 0

[xnat]
USER = admin
PASSWORD = admin
PROJECT = example_xnat_project
VERIFY = False
SERVER = http://localhost:80

[data]
REGIONS_JSON_PATH = example_project/regions.json
TRAIN_FRACTION = 0.9
TEST_FRACTION = 0.1

[tmp_dirs]
OS_TMP_DIR = /tmp
TMP_WORKING_DIR = nnunet_tmp

[nnunet]
NNUNET_RAW_DIR = nnUNet_raw
NNUNET_RESULTS_DIR = nnUNet_results
NNUNET_PREPROCESSED_DIR = nnUNet_preprocessed

# NNUNET_UNET_CONFIGURATION
# Options: 3d_fullres, 3d_cascade_fullres, 3d_lowres, or 2d
NNUNET_UNET_CONFIGURATION = 3d_fullres

# NNUNET_FOLD
# Cross-validation folds
NNUNET_FOLD = [0]

# NNUNET_TRAINER
# Default: nnUNetTrainer (1000 epochs)
# For testing: nnUNetTrainer_1epoch
NNUNET_TRAINER = nnUNetTrainer_1epoch

# NNUNET_DEVICE
# Options: cuda, cpu, mps (Apple Silicon)
NNUNET_DEVICE = cpu

# NNUNET_NUM_GPUS
# Must match CUDA_VISIBLE_DEVICES list
NNUNET_NUM_GPUS = 1

# NNUNET_NPZ
# For ensembling
NNUNET_NPZ = --npz
