[project]
NAME = example_mlflow_project

[system]
USE_GPU = true
CUDA_VISIBLE_DEVICES = 0
RANDOM_SEED = 42
MAX_WORKERS = 32

[server]
MLFLOW_TRACKING_URI =
MLFLOW_S3_ENDPOINT_URL =
ARTIFACT_PATH = s3://mlflow

[xnat]
SERVER =
USER =
PASSWORD =
PROJECT = example_xnat_project
VERIFY = false

[params]
; Model
MODEL = convnextv2_base.fcmae_ft_in22k_in1k
PRETRAINED = true
IMAGE_SIZE = 224

; Training Parameters
MAX_EPOCHS = 100
LR = 0.0001
MAX_LR = 0.001
BATCH_SIZE = 64
GRAD_BATCHES = 1
DROPOUT = 0.3

; Mixup Parameters
MIXUP_ALPHA = 0.2
CUTMIX_ALPHA = 0.2
MIXUP_PROB = 0.5
MIXUP_SWITCH_PROB = 0.5
MIXUP_MODE = batch
LABEL_SMOOTHING = 0.1

; Validation Parameters
WEIGHTED_LOSS = true
LOSS_FCN = CrossEntropyLoss
CHECKPOINT_METRIC = val_loss
TEST_FRACTION = 0.2