[project]
NAME = example_mlflow_project
LABEL_DICT = {"NEGATIVE": 0, "POSITIVE": 1}
MODE = train ; options are train or tune.

[system]
USE_GPU = true
CUDA_VISIBLE_DEVICES = 0
RANDOM_SEED = 42
MAX_WORKERS = 32

[server]
MLFLOW_TRACKING_URI =
MLFLOW_S3_ENDPOINT_URL =
ARTIFACT_PATH = s3://mlflow

[xnat]
SERVER =
USER =
PASSWORD =
PROJECT = example_xnat_project
VERIFY = false

[params]
; Model
MODEL = convnextv2_base.fcmae_ft_in22k_in1k
PRETRAINED = true
IMAGE_SIZE = 224

; Training Parameters
MAX_EPOCHS = 100
PATIENCE = 10
LR = 0.0001
MAX_LR = 0.001
BATCH_SIZE = 64
DROPOUT = 0.3
GRAD_BATCHES = 1

; Optimisation Parameters
WEIGHTED_LOSS = true
LOSS_FCN = CrossEntropyLoss
CHECKPOINT_METRIC = val_loss
CHECKPOINT_MODE = min
WEIGHT_DECAY = 0.01

; Mixup Parameters
MIXUP_ALPHA = 0.2
CUTMIX_ALPHA = 0.2
MIXUP_PROB = 0.5
MIXUP_SWITCH_PROB = 0.5
MIXUP_MODE = batch
LABEL_SMOOTHING = 0.1

; Data Parameters
VALIDATION_FRACTION = 0.1
TEST_FRACTION = 0.1

[tune]
; All values are parsed as JSON.
N_TRIALS = 50

DROPOUT = [0, 0.1, 0.2, 0.3]
LR = [1e-5, 1e-4, 1e-3]
MAX_LR = [1e-4,5e-4,1e-3,5e-3]
MODEL = ["convnextv2_tiny.fcmae_ft_in22k_in1k", "convnextv2_base.fcmae_ft_in22k_in1k"]
BATCH_SIZE = [16, 32, 64]
PRETRAINED = [true, false]
LABEL_SMOOTHING = [0.0, 0.05, 0.1]
GRAD_BATCHES = [1, 4]