[project]
NAME = example_mlflow_project
LABEL_DICT = {"NEGATIVE": 0, "POSITIVE": 1}

[system]
USE_GPU = false
CUDA_VISIBLE_DEVICES = 0
RANDOM_SEED = 42
MAX_WORKERS = 8

[server]
MLFLOW_TRACKING_URI = http://localhost:85
MLFLOW_S3_ENDPOINT_URL = http://localhost:8002
ARTIFACT_PATH = s3://mlflow

[xnat]
SERVER = http://localhost
USER =
PASSWORD =
PROJECT = example_xnat_project
VERIFY = false

[params]
; Model
MODEL = convnextv2_tiny.fcmae_ft_in22k_in1k
PRETRAINED = true
IMAGE_SIZE = 224

; Training Parameters
MAX_EPOCHS = 10
PATIENCE = 10
LR = 0.0001
MAX_LR = 0.001
BATCH_SIZE = 64
DROPOUT = 0.3
GRAD_BATCHES = 1

; Optimisation Parameters
WEIGHTED_LOSS = true
LOSS_FCN = CrossEntropyLoss
WEIGHT_DECAY = 0.01
CHECKPOINT_METRIC = val_loss

; Mixup Parameters
MIXUP_ALPHA = 0.2
CUTMIX_ALPHA = 0.2
MIXUP_PROB = 0.5
MIXUP_SWITCH_PROB = 0.5
MIXUP_MODE = batch
LABEL_SMOOTHING = 0.1

; Data Parameters
VALIDATION_FRACTION = 0.1
TEST_FRACTION = 0.1

[tune]
N_TRIALS = 50