[server]
MLFLOW_S3_ENDPOINT_URL = http://localhost:8002
MLFLOW_TRACKING_URI = http://localhost:85
ARTIFACT_PATH = s3://mlflow

[project]
NAME = example_mlflow_project
;VOLUME_MOUNT = < data path>:/DATA

[system]
USE_GPU = false
CUDA_VISIBLE_DEVICES = 0

[xnat]
USER = 
PASSWORD = 
PROJECT = example_xnat_project
VERIFY = False
SERVER = http://localhost

[params]
RANDOM_SEED = 42
DM_BATCH_SIZE = 
DROPOUT = 
LR = 
MODEL = 
NW_BATCH_SIZE = 
TEST_FRACTION = 
PRETRAINED = 
WEIGHTED_LOSS = 
LABEL_SMOOTHING = 
MAX_EPOCHS = 
GRAD_BATCHES = 
IMAGE_SIZE = 
